{% extends "layouts/public.njk" %}

{%block content%}
    <section class="chefs container">
        {%for chef in chefs%}
            <div class="chef">
               <img src="{{files[loop.index0].src}}" alt="{{files[loop.index0].name}}">
               <div class="chef_content">
                    <h1>{{chef.name}}</h1>
                    <p>{{chef.total_recipes}} receitas</p>
               </div>
            </div>
        {% endfor %}
    </section>
{%endblock%}