{% extends "layouts/public.njk" %}

{%block link%}
                    <a href="/about">Sobre</a>
                    <a class="headline" href="/recipes">Receitas</a>
               {%endblock%}
        {%block content%}
        <!-- SECTION CARDS -->
        <section class="cards">
            {%for recipe in recipes%}
            <div class="card" id="{{recipe.index}}">
                <div class="card__image-container">
                    <img src="{{recipe.image}}" alt="Foto {{recipe.title}}">
                </div>
                <div class="card__content">
                    <h4>{{recipe.title}}</h4>
                    <p class="card__author">por {{recipe.author}}</p>
                </div>
            </div>
            {% endfor %}
        </section>
        <script src='public/scripts.js'></script>
    {%endblock%}