{% extends "layouts/admin.njk" %}

{%block contentAdmin%}
    <form class="chef_details" method="post" action="/admin/chefs">
        <div class="sub_title_info">
            <h1>Criando chefe</h1>
            <button class="button" type="submit">Salvar Chef</button>
        </div>
        {% include 'admin/chefs/fields.njk' %}
    </form>

{%endblock%}
