{% extends "layouts/admin.njk" %}

{%block contentAdmin%}
    <main>
        <div class="sub_title_info">
            <h1 class="sub_title">Chefe: {{chef.name}}</h1>
            <div class="button">
                <a href="/admin/chefs/{{chef.id}}/edit"> Editar Chef</a>
            </div>
        </div>
        <div class="chef_container">
            <img src="{{chef.avatar_url}}" alt="Imagem {{chef.name}}">
            <h1>{{chef.name}}</h1>
            <p>{{chef.total_recipes}} receitas</p>
        </div>
        <h1 class="sub_title">Receitas</h1>

        {% include 'admin/cards.njk' %}    
    </main>
{%endblock%}

