{% extends "admin/layout.njk" %}

{%block contentAdmin%}
    <form class="admin-content" method="post" action="/admin/recipes" > 
        <div class="presentation">
            <h1>Criando receita</h1>
            <button type="submit" class="button-admin-recipe">Salvar receita</button>
        </div>
        {% include 'admin/fields.njk' %}
    </form>
    <script src='/scripts.js'></script>
{% endblock %}