{% extends "admin/layout.njk" %}

{%block contentAdmin%}
    <form class="admin-content" method="POST" action="/admin/recipes" > 
        <div class="presentation">
            <h1>Criando receita</h1>
            <button type="submit" class="button-admin-recipe">Salvar receita</button>
        </div>
        <main>
        <div class="item">
            <div>Avatar URL</div>
                <div>
                    <input 
                        type="url" 
                        name="image_url" 
                        placeholder=""
                        {# value="{{}}" #}
                    >
                </div>
        </div>  
        <div class="item">
            <div>Ingredientes</div>
                <div id="ingredients">
                    <div class="ingredient">
                        <input 
                            type="text" 
                            name="ingredientes[]" 
                            placeholder=""
                            value="" 
                        >
                    </div>
                </div>
                <a class="add-button ingredients">Adicionar novo ingrediente</a>
        </div>  
        <div class="item">
            <div>Modo de preparo</div>
                <div id="steps">
                    <div class="step">
                        <input 
                            type="text" 
                            name="preparation[]" 
                            placeholder=""
                            value=""
                        >
                    </div>
                </div>
            <a class="add-button steps">Adicionar novo passo</a>
        </div>  
        <div class="item">
            <div>informações adicionais</div>
                <div>
                    <input 
                        type="text" 
                        name="informações adicionais" 
                        placeholder=""
                        {# value="{{}}" #}
                    >
                </div>
        </div>    

        </main>
    </form>
    <script src='/scripts.js'></script>
{% endblock %}