{% extends "admin/layout.njk" %}

{%block contentAdmin%}
    <div class="admin-content"> 
        <div class="presentation">
            <h1>Editando receita</h1>
            <a class="button-admin-recipe">Salvar receita</a>
            <a class="button-admin-recipe delete">Deletar</a>
        </div>
        {% include 'admin/fields.njk' %}
    </div>
{% endblock %}