{% extends "admin/layout.njk" %}

{%block contentAdmin%}
    <form class="logout" action="/users/logout" method="POST">
        <div class="user-header">
            <h1 class="show-title">Atualizar usuários</h1>
                <nav>
                    <button class="button delete">Deletar</button>
                    <button class="button">Salvar</button>
                </nav>
        </div>
        <div class="fields users">
                    {% include 'admin/user/fields.njk' %}
                    <div class="item-checkbox">
                        <div class="input-checkbox">
                            <input 
                                type="checkbox" 
                                name="admin" 
                            >
                        </div>
                        <div>Administrador</div>
                    </div>
        </div>
    </form>
    
{%endblock%}