{% extends "admin/layout.njk" %}

{%block contentAdmin%}
<div class="edit-user">
    <form class="delete" action="/admin/users?_method=DELETE" method="post">
        <input type="hidden" name="id" value={{user.id}}>
        <button class="button delete" type="submit">Deletar</button>
    </form>
    <form class="logout" action="/admin/users?_method=PUT" method="POST">
        <div class="user-header">
            <h1 class="show-title">Atualizar usuários</h1>
            <button class="button" type="submit">Salvar</button>
            <input type="hidden" name="id" value={{user.id}}>
        </div>
        <div class="fields users">
            {% include 'admin/user/fields.njk' %}
            <div class="item-checkbox">
                <div class="input-checkbox">
                    <input 
                        type="checkbox" 
                        name="is_admin" 
                        {% if user.is_admin %}
                            checked
                        {% endif %}
                    >
                </div>
                <div>Administrador</div>
            </div>
        </div>
    </form>
</div>
{%endblock%}