{% extends "admin/layout.njk" %}

{%block contentAdmin%}
    <div class="user-header">
        <h1 class="show-title">Usuários</h1>
        <form class="logout" action="/users/logout" method="POST">
                <button class="button">Novo</button>
        </form>
    </div>
    <section class="user-list">
        <div class="user">
            <h3>Luan</h3>
            <p>luan10017@hotmail.com</p>
            <div class="actions">
                <a href="">Editar</a>
                <button type="submit">Remover</button>
            </div>
        </div>
        <div class="user">
            <h3>Triplo biro</h3>
            <p>luan10017@hotmail.com</p>
            <div class="actions">
                <a href="">Editar</a>
                <button type="submit">Remover</button>
            </div>
        </div>
        <div class="user">
            <h3>Luan</h3>
            <p>luan10017@hotmail.com</p>
            <div class="actions">
                <a href="">Editar</a>
                <button type="submit">Remover</button>
            </div>
        </div>
        <div class="user">
            <h3>Luan</h3>
            <p>luan10017@hotmail.com</p>
            <div class="actions">
                <a href="">Editar</a>
                <button type="submit">Remover</button>
            </div>
        </div>
        {# {% for user in users %}
        {% endfor %} #}
    </section>
    
{%endblock%}