{% extends "admin/layout.njk" %}

{%block contentAdmin%}
    <div class="user-header">
        <h1 class="show-title">Usuários</h1>
        <form class="logout" action="/users/logout" method="POST">
                <button class="button">Novo</button>
        </form>
    </div>
    <section class="user-list">
        {% for user in users %}
            <div class="user">
                <h3>{{user.name}}</h3>
                <p>{{user.email}}</p>
                <div class="actions">
                    <a href="">Editar</a>
                    <button type="submit">Remover</button>
                </div>
            </div>
        {% endfor %}
    </section>
    
{%endblock%}