{% extends "layout.njk" %}

{%block link%}
    <a href="/about">Sobre</a>
    <a href="/recipes">Receitas</a>
{% endblock %}

{%block content%}
    <div class="detalhe__image-container">
        <img src="{{recipe.image}}" alt="Foto de {{recipe.title}}">
    </div>
    <div class="title_detalhe">
        <h1>{{recipe.title}}</h1>
        <p>por {{recipe.author}}</p>
    </div>

    <!-- SECTION informações -->

    <section class="info">
        <div class="sub-title-ing">
            <h1>Ingredientes <a class="show_ing">Esconder</a></h1>
            
        </div>

        <div id="ingredientes">
            <!-- Adicionei id para cria o conceito de esconder o conteudo atráves do javascript -->
            
            {% for ingredient in recipe.ingredients %}
                <li>{{ingredient}};</li>
            {% endfor %}
        </div>
        <div id="preparo">
            <h1>Modo de preparo</h1>
            {% for preparation in recipe.preparation %}
            <li>{{preparation}}.</li>
            {% endfor %}
        </div>
        <div id="adicionais">
            <h1>Informações adicionais</h1>
            {{recipe.information}}
        </div>
    </section>
    <script src='/scripts.js'></script>
{% endblock %}