<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Foodfy</title>
    <link rel="stylesheet" href="/public/styles.css">
</head>

<body>
    <div id="content">
        <header>
            <nav>
                <a href="/views/index.html">
                    <img src="/public/assets/logo.png" alt="Imagem da logomarca">
                </a>
                <div class="links">
                    <a href="/views/sobre.html">Sobre</a>
                    <a href="/views/receitas.html">Receitas</a>
                </div>
            </nav>
        </header>
            <div class="detalhe__image-container">
                <img src="/public/assets/burger.png" alt="Foto de hamburger">
            </div>
            <div class="title_detalhe">
                <h1>Triplo bacon burger</h1>
                <p>por Jorge Relato</p>
            </div>
        <!-- SECTION informações -->
            <section class="info">
                <div id="ingredientes">  <!-- Adicionei id para cria o conceito de esconder o conteudo atráves do javascript -->
                    <h1>Ingredientes</h1>
                    <li>3 kg de carne moída (escolha uma carne magra e macia);</li>
                    <li>300 g de bacon moído;</li>
                    <li>1 ovo;</li>
                    <li>3 colheres (sopa) de farinha de trigo;</li>
                    <li>3 colheres (sopa) de tempero caseiro: feito com alho, sal, cebola, pimenta e cheiro verde processados no liquidificador;</li>
                    <li>30 ml de água gelada;</li>
                </div>
                <div id="preparo">
                    <h1>Modo de preparo</h1>
                    <li>Misture todos os ingredientes muito bem e amasse para que fique tudo muito bem misturado.</li>
                    <li>Faça porções de 90 g a 100 g.</li>
                    <li>Forre um plástico molhado em uma bancada e modele os hambúrgueres utilizando um aro como base.</li>
                    <li>Faça um de cada vez e retire o aro logo em seguida.</li>
                    <li>Forre uma assadeira de metal com plástico, coloque os hambúrgueres e intercale camadas de carne e plásticos (sem apertar).</li>
                    <li>Faça no máximo 4 camadas por forma e leve para congelar.</li>
                    <li>Retire do congelador, frite ou asse e está pronto.</li>
                </div>
                <div id="adicionais">
                    <h1>Informações adicionais</h1>
                    <p>Preaqueça a chapa, frigideira ou grelha por 10 minutos antes de levar os hambúrgueres. Adicione um pouquinho de óleo ou manteiga e não amasse os hambúrgueres!</p>
                    <p>Você sabia que a receita que precede o hambúrguer surgiu no século XIII, na Europa? A ideia de moer a carne chegou em Hamburgo no século XVII, onde um açogueiro resolveu também temperá-la. Assim, a receita foi disseminada nos Estados Unidos por alemães da região. Lá surgiu a ideia de colocar o hambúrguer no meio do pão e adicionar outros ingredientes, como queijom tomates e alface.</p>
                </div>
            </section>
    </div>
    <footer>
        <p>Todos direitos reservados, receitas Foodfy.</p>
    </footer>
</body>

</html>