{% extends "layout.njk" %}

{%block link%}
    <a href="/about">Sobre</a>
    <a href="/recipes">Receitas</a>
{% endblock %}

{%block content%}
    <div class="detalhe__image-container">
        <img src="{{recipes.image}}" alt="Foto de {{recipes.title}}">
    </div>
    <div class="title_detalhe">
        <h1>{{recipes.title}}</h1>
        <p>por {{recipes.author}}</p>
    </div>

    <!-- SECTION informações -->

    <section class="info">
        <div id="ingredientes">
            <!-- Adicionei id para cria o conceito de esconder o conteudo atráves do javascript -->
            <h1>Ingredientes</h1>
            {% for ingredient in recipes.ingredients %}
                <li>{{ingredient}};</li>
            {% endfor %}
        </div>
        <div id="preparo">
            <h1>Modo de preparo</h1>
            {% for preparation in recipes.preparation %}
            <li>{{preparation}}.</li>
            {% endfor %}
            
            
        </div>
        <div id="adicionais">
            <h1>Informações adicionais</h1>
            {{recipes.information}}
        </div>
    </section>
{% endblock %}