{% extends "layouts/admin.njk" %}

{%block contentAdmin%}
    <form class="admin-content" method="post" action="/admin/recipes">
        <div class="sub_title_info">
            <h1>Criando receita</h1>
            <button class="button" type="submit" class="button-admin-recipe">Salvar receita</button>
        </div>
        {% include 'admin/fields.njk' %}
    </form>





    <script>
        /* ===  ADMIN INGREDIENT === */

        function addIngredient() {
            const ingredients = document.querySelector("#ingredients");
            const fieldContainer = document.querySelectorAll(".ingredient");

            // Realiza um clone do último ingrediente adicionado
            const newField = fieldContainer[fieldContainer.length - 1].cloneNode(true);

            console.log(newField)
            // Não adiciona um novo input se o último tem um valor vazio
            if (newField.children[0].value == "") 
                return false;
            
            // Deixa o valor do input vazio
            newField
                .children[0]
                .value = "";
            ingredients.appendChild(newField);
        }

        const ingredientButton = document.querySelector(".add-button.ingredients")
        ingredientButton.addEventListener('click', addIngredient);

        /* ===  ADMIN STEPS === */

        function addStep() {
            const steps = document.querySelector("#steps");
            const fieldContainer = document.querySelectorAll(".step");

            // Realiza um clone do último ingrediente adicionado
            const newField = fieldContainer[fieldContainer.length - 1].cloneNode(true);

            // Não adiciona um novo input se o último tem um valor vazio
            if (newField.children[0].value == "") 
                return false;
            
            // Deixa o valor do input vazio
            newField
                .children[0]
                .value = "";
            steps.appendChild(newField);
        }

        const stepButton = document.querySelector(".add-button.steps")
        stepButton.addEventListener('click', addStep);
    </script>
{% endblock %}