{% extends "admin/layout.njk" %}

{%block contentAdmin%}

    <div class="admin-content">
        <form method="POST" action="/admin/recipes?_method=PUT">
            <div class="presentation">
                <h1>Editando receita</h1>
                <button type="submit">Salvar</button>
            </div>
            <main>
                <div class="item">
                    <div>Foto da receita</div>
                    <div>
                        <input type="URL" name="image" value="{{recipe.image}}">
                    </div>
                </div>
                <div class="item">
                    <div>Título</div>
                    <div>
                        <input type="text" name="title" value="{{recipe.title}}">
                    </div>
                </div>
                <div class="item">
                    <div>Autor</div>
                    <div>
                        <input type="text" name="author" value="{{recipe.author}}">
                    </div>
                </div>
                <div class="item">
                    <div>Ingredientes</div>
                    <div id="ingredients">
                        <div class="ingredient">
                            {% for ingrediente in recipe.ingredients %}
                                <input type="text" name="ingredients[]" value="{{ingrediente}}">
                            {% endfor %}
                        </div>
                    </div>
                    <a class="add-button ingredients">Adicionar novo ingrediente</a>
                </div>
                <div class="item">
                    <div>Modo de preparo</div>
                    <div id="steps">
                        <div class="step">
                            {% for step in recipe.preparation %}
                                <input type="text" name="preparation[]" value="{{step}}">
                            {% endfor %}
                        </div>
                    </div>
                    <a class="add-button steps">Adicionar novo passo</a>
                </div>
                <div class="item">
                    <div>informações adicionais</div>
                    <div>
                        <textarea name="information" cols="30" rows="10">
                            {{recipe.information}}
                        </textarea>
                    </div>
                </div>
                <input type="hidden" name="id" value="{{recipe.id}}">
            </main>
        </form>
        <form method="POST" id="form-delete" action="/admin/recipes?_method=DELETE">
            <input type="hidden" name="id" value="{{recipe.id}}">
            <button type="submit">Deletar</button>
        </form>
    </div>
    <script>
        /* ===  ADMIN INGREDIENT === */
        function addIngredient() {
            const ingredients = document.querySelector("#ingredients");
            const fieldContainer = document.querySelectorAll(".ingredient");

            // Realiza um clone do último ingrediente adicionado
            const newField = fieldContainer[fieldContainer.length-1].cloneNode(true); 
            // Não adiciona um novo input se o último tem um valor vazio
            if (newField.children[0].value == "") return false;
            
            // Deixa o valor do input vazio
            newField.children[0].value = "";
            ingredients.appendChild(newField);
        }

        const ingredientButton = document.querySelector(".add-button.ingredients")
        ingredientButton.addEventListener('click', addIngredient);

        /* ===  ADMIN STEPS === */

        function addStep() {
            const steps = document.querySelector("#steps");
            const fieldContainer = document.querySelectorAll(".step");

            // Realiza um clone do último ingrediente adicionado
            const newField = fieldContainer[fieldContainer.length - 1].cloneNode(true);

            // Não adiciona um novo input se o último tem um valor vazio
            if (newField.children[0].value == "") 
                return false;
            
            // Deixa o valor do input vazio
            newField.children[0].value = "";
            steps.appendChild(newField);
        }

        const stepButton = document.querySelector(".add-button.steps")
        stepButton.addEventListener('click', addStep);

        /* CONTROLE DELETE */
        const formDelete = document.querySelector("#form-delete")
        formDelete.addEventListener("submit", function (event) {
            const confirmation = confirm("Deseja Deletar?")
            if (!confirmation) {
                event.preventDefault()
            }
        })
    </script>
{% endblock %}