{% extends "layouts/admin.njk" %}

{%block contentAdmin%}
    <h1 class="show-title">Gerenciar receitas</h1>
    <!-- SECTION CARDS -->
    {% include 'admin/cards.njk' %}
    
    <script>
        //Coloquei o script aqui pois estava dando um erro
        const vButton = document.querySelectorAll('.visualization_button')
        const cards = document.querySelectorAll('.card')

        for (let card of cards) {
            card.addEventListener("click", function() {
                const recipeId = card.getAttribute("id")
                window.location.href = `/admin/recipes/${recipeId}`
            
            })
        
        }


        /* REDIRECIONAMENTO CARDS PARA DETALHES ADMIN */
       /* for (let i = 0; vButton.length; i++) {
            vButton[i].addEventListener('click', function () {

                window.location.href = `/admin/recipes/${cards}`
            })
        }*/
    </script>
    {%endblock%}