<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Foodfy</title>

    {%include "admin/parts/styles.njk"%}
</head>

<body>
    {%include "admin/parts/messages.njk"%}

    {%include "admin/parts/header.njk"%}
    <div class="container">
        {% block contentAdmin %}{% endblock %} 
    </div>
    <script src="/scripts.js"></script>
</body>

</html>