{% extends "layouts/admin.njk" %}

{%block contentAdmin%}

    <div class="sub_title_info">
        <h1>Receita:
            {{recipe.title}}</h1>
        <button class="button button-admin-recipe">Editar receita</button>
    </div>

    <section class="details_intro">
        <img src="{{recipe.image}}" alt="Foto de {{recipe.title}}">
        <h1>{{recipe.title}}</h1>
        <p>por{{chef.name}}</p>
    </section>

    <!-- SECTION informações -->

    <section class="info admin">

        <div class="ingredients">
            <div class="title-and-button">
                <h1>Ingredientes</h1>
            </div>
            <ul class="content-admin">
                <!-- Adicionei id para cria o conceito de esconder o conteudo atráves do javascript -->

                {% for ingredient in recipe.ingredients %}
                    <li>{{ingredient}};</li>
                {% endfor %}
            </ul>
        </div>

        <div class="preparation">
            <div class="title-and-button">
                <h1>Modo de preparo</h1>
            </div>
            <ul class="content-admin">
                {% for preparation in recipe.preparation %}
                    <li>{{preparation}}.</li>
                {% endfor %}
            </ul>
        </div>

        <div class="additional_info">
            <div class="title-and-button">
                <h1>Informações adicionais</h1>
            </div>
            <ul class="content-admin">
                {{ recipe.information | striptags(true) | escape | nl2br }}
            </ul>
        </div>
    </section>


    <script>
        /* REDIRECIONAMENTO PARA EDIT */

        const editButton = document.querySelector('.button-admin-recipe')
        const currentPage = location.pathname
        editButton.addEventListener('click', function () {
            window.location.href = `${currentPage}/edit`
        })
    </script>
{% endblock %}