@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap";

:root {
    --color-author: #777777;
    --color-text: #444444;
    --color-rocket: #6558C3;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html,body {
  min-height: 100vh;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #111111;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
}

.button {
  background-color: var(--color-rocket);
  color: white;
  font-weight: bold;
  font-size: 16px;
  border-radius: 4px;
  height: 37px;
}

input {
  width: 246px;
  height: 37px;
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  margin-right: 8px;
}

input[type="text"] {
  font-size: 14px;
  color: #999999;
  padding-left: 15px;
}

footer {
  margin-top: auto;
  background: #EEEEEE;
  padding: 23px 0;
  justify-content: center;
  display: flex;
  color: #999999;
}

/* HEADER */
header{
  padding: 30px 0;
}

header div.container {
  display: flex;
  align-items: center;
}

header div.container a img{
  margin-right: 122.4px;
}

header div.container nav .links a {
  margin-right: 30px;
  font-size: 16px;
  color: #111111;
}

header div.container nav .links a:last-child {
  margin-right: 0;
}

header div.container form{
  margin-left: 160px;
  align-items: center;
  display: flex;
}

header div.container form .button.filter {
  width: 91px;
}

header div.container nav .links a.active {
  font-weight: bold;
}

/* CARDS */

section.cards {
  margin: 20px 0 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.card img {
  border-radius: 15px;
  width: 300px;
  height: 140px;
}

.card h4 {
  font-size: 18px;
  font-weight: normal;
  margin: 20px 0 5px;
}

.card p {
  font-size: 14px;
  color: var(--color-author);
}

/* HOME */

section.intro {
  background: #FBDFDB;
  border-radius: 30px;
  height: 366px;
  width: 100%;
  display: flex;
  margin-bottom: 50px;
}

section.intro img {
  position: absolute;
  margin: 66px 100px 0 624px;
}

.intro__content h1 {
  margin: 117px 575px 10px 60px;
  font-size: 32px;
}

.intro__content p {
  margin: 0 564px 117px 60px;
  font-size: 18px;
  opacity: 70%;
  line-height: 28px;
}

/* ABOUT */

main.about p {
  font-size: 18px;
  color: #444444;
  line-height: 28px;
  margin-bottom: 30px;
}

main.about h1 {
  font-size: 24px;
  margin: 20px 0 30px;
}

main.about h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
}

/* RECIPES */

.container h1.filter {
  margin-top: 22px;
  font-size: 24px;
}

/* CHEFS */

section.chefs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px 20px;
  margin-top: 20px;
}

div.chef {
  display: flex;
  align-items: center;
}

div.chef img {
  width: 64px;
  height: 64px;
  border-radius: 100%;
}

div.chef_content {
  margin-left: 20px;
}

div.chef_content h1 {
  font-size: 18px;
  font-weight: normal;
}

div.chef_content p {
  font-size: 14px;
  color: #666666;
}

/* DETAILS */
section.details_intro{
  text-align: center;
  margin: 20px 0 50px;
}

section.details_intro img {
  height: 280px;
  width: 100%;
  border-radius: 15px;
  margin-bottom: 50px;
}

section.details_intro h1 {
  font-size: 36px;
  font-weight: bold;
}

section.details_intro p {
  font-size: 20px;
  font-weight: normal;
  color: #777777;
}

.title-and-button {
  display: flex;
  align-items: baseline;
}

.title-and-button a {
  text-transform: uppercase;
  font-size: 12px;
  color: #999999;
  padding: 0 8px;
  font-weight: bold;
}

.title-and-button h1 {
  margin: 40px 0 20px;
}

.additional_info ul {
  margin-bottom: 50px;
}

li, ul {
  list-style-position: inside;
  line-height: 28px;
  font-size: 18px;
  color: #444444;
}


/* Esconde  MOstra */
.hide {
  visibility: hidden;
  opacity: 0;
  display: none;
}

/* ERROR */
.erro {
  text-align: center;
  margin: 200px auto;
}

/* ADMIN */

header.header_admin {
  background-color: black;
  margin-bottom: 50px;
}

header.header_admin nav {
  display: flex;
  align-items: center;
  
}

header nav div.links.admin a{
  color: #999999;
  margin-right: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

header nav .links.admin a.active {
  color: #FFFFFF;
}

/* ideias globais */

div.sub_title_info {
  display: grid;
  grid-template-columns: 1fr 235px;
  align-items: center;
  margin-bottom: 51px;
}

div.sub_title_info .button {
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: end;
}

div.sub_title_info .button a {
  color: white;
}

h1.sub_title{
  font-size: 24px;
  font-weight: bold;
}

/* CARDS */

section.cards_admin {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 20px;
  font-size: 18px;
  margin: 30px 0 50px;
}

div.card_admin {
  display: flex;
}

div.card_admin img {
  width: 172px;
  height: 80px;
  border-radius: 8.57px;
  margin-right: 20px;
}

.card_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card_container p {
  font-size: 14px;
  color: #777777;
}

.visualization_button {
  font-size: 14px;
  color: var(--color-rocket);
  font-weight: bold;
  margin-bottom: 12px;
  cursor: pointer;
}

/* FIELDS */

div.item input {
  width: 100%;
  height: 49px;
  padding-left: 20px;
  color: #111111;
  font-size: 16px;
  margin-bottom: 10px;
}

div.item select {
  width: 100%;
  height: 49px;
  padding-left: 20px;
  font-size: 16px;
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  margin-bottom: 10px;
}

div.item textarea {
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  width: 100%;
  height: 257px;
  font-size: 16px;
  background: #FFFFFF;
  font-family: Roboto-Regular;
  font-size: 16px;
  color: #111111;
  line-height: 24px;
  padding: 18px 48px 0 20px;
  margin-bottom: 383px;
}

div.item div.title {
  margin: 20px 0 10px;
}

/* gerenciador de imagens */
form .item #photos-manager {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 8px;
}

form .item #photos-upload {
  position: relative;
  display: block;
  overflow: hidden;
  width: 149px;
  height: 149px;
}

form .item #photos-upload input {
  background: none; 
  border: none; 
  margin: 0;
  padding: 0;
}

form .item #photos-upload i {
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 3.5px;
  width: 149px;
  height: 149px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999999;
  font-size: 28px;
}

form .item #photos-input {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

form .item #photos-preview {
  display: grid;
  grid-template-columns: repeat(5, 149px);
  gap: 8px; 
  width: 100%;
}

form .item #photos-preview img {
  width: 151px;
  height: 150px;
  object-fit: cover;
}

#photos-preview .photo {
  position: relative;
}

#photos-preview .photo i {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255,255,255,0.8);
  color: red;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 39.6px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 200ms;
}

#photos-preview .photo:hover i {
  opacity: 1;
}

/* RECIPES DETAILS */

section.info.admin ul{
  list-style-type: '- ';
}

/* EDIT RECIPES  */

.admin-content {
  position: absolute;
  width: 940px;
}

.admin-content form button {
  position: absolute;
  top: 0;
  right: 0;
}

#form-delete button {
  margin-right: 149px;
  background: #DC4747;
  border-radius: 4px;
  width: 92px;
  height: 37px;
  font-family: Helvetica;
  font-size: 16px;
  color: #FFFFFF;
}

/* CHEF EDIT */

div.item div {
  font-size: 16px;
  font-weight: bold;
}

div.item .add-button {
  font-size: 16px;
  font-weight: bold;
  color: var(--color-rocket);
}

div.item a.add-button {
  display: inline-block;
  margin: 5px 0 10px;
}

/* CHEF DETAILS */

div.chef_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

div.chef_container img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  margin-bottom: 30px;
}

div.chef_container h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 4px;
}

div.chef_container p {
  font-size: 20px;
  color: #777777;
}

