{% extends "site/layout.njk" %}

{%block content%}
    <div class="container">
        <section class="details_intro show">
            <div class="gallery">
                <div class="highlight">
                    {% if files.length == 0 %}
                            <img src="{{recipe.image}}" alt="Foto de {{recipe.title}}">
                    {% else %}
                        <img 
                            src="{{files[0].src}}" 
                            alt="{{files[0].name}}"
                            onclick="Lightbox.open()"
                            >
                    {% endif %}
                </div>
                <div class="gallery-preview">
                    {% for image in files %}
                        <img 
                            src="{{image.src}}" 
                            alt="{{image.name}}"
                            {% if loop.index0 == 0 %}
                            class="active"
                            {% endif %}
                            onclick="ImageGallery.setImage(event)"
                        >
                    {% endfor %}
                </div>
            </div>
            <h1>{{recipe.title}}</h1>
            <p>por {{recipe.chef_name}}</p>
        </section>

    <!-- SECTION informações -->

        <section class="info">
            <div class="ingredients">
                <div class="title-and-button">
                    <h1>Ingredientes</h1>
                    <a class="show-button">Esconder</a>
                </div>
                <ul class="content show">
                    <!-- Adicionei id para cria o conceito de esconder o conteudo atráves do javascript -->
                    
                    {% for ingredient in recipe.ingredients %}
                        <li>{{ingredient}};</li>
                    {% endfor %}
                </ul>
            </div>
            

            <div class="preparation">
                <div class="title-and-button">
                    <h1>Modo de preparo</h1>
                    <a class="show-button">Esconder</a>
                </div>
                <ul class="content show">
                    {% for preparation in recipe.preparation %}
                    <li>{{preparation}}.</li>
                    {% endfor %}
                </ul>
            </div>

            <div class="additional_info">
                <div class="title-and-button">
                    <h1>Informações adicionais</h1>
                    <a class="show-button">Esconder</a>
                </div>
                <ul class="content show">
                    {{ recipe.information | striptags(true) | escape | nl2br }}
                </ul>
            </div>
        </section>
    </div>
{% endblock %}