<!DOCTYPE html>
<html>
    <head>
        <title>Foodfy</title>
        {%include "admin/parts/styles.njk"%}
    </head>
    <body>
        {%include "site/parts/header.njk"%}
        {% block content %}{% endblock %} 
        {%include "site/parts/footer.njk"%}
    </body>
</html>