<!DOCTYPE html>
<html>
    <head>
        <title>Foodfy</title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        {%include "site/parts/header.njk"%}
        {% block content %}{% endblock %} 
        {%include "site/parts/footer.njk"%}
    </body>
</html>