{% extends "site/layout.njk" %}

{%block content%}
    <div class="container">
        {% if filter %}
            <h1 class="filter">Buscando por "{{filter}}"</h1>
        {% endif %}
    <!-- SECTION CARDS -->
    {%include "site/cards.njk"%}
    </div>
{%endblock%}