<header class="header_admin">
    <div class="container">
        <nav>
            <a href="/admin/recipes">
                <img src="/logo-admin.png" alt="Imagem da logomarca">
            </a>
            <div class="links admin">
                <a href="/admin/recipes">Receitas</a>
                <a href="/admin/chefs">Chefs</a>
            </div>
        </nav>
    </div>
</header>