<header class="header_admin">
    <div class="container">
        <nav>
            <a href="/admin/recipes">
                <img src="/logo-admin.png" alt="Imagem da logomarca">
            </a>
            <div class="links admin">
                <a href="/admin/recipes">Receitas</a>
                <a href="/admin/chefs">Chefs</a>
                {% if session.userAdmin %}
                    <a href="/admin/users">Usuários</a>
                {%else%}
                    <a href="/admin/profile">Usuários</a>
                {% endif %}
            </div>
            <form class="logout" action="/admin/logout" method="POST">
                <button>Sair</button>
            </form>
        </nav>
    </div>
</header>