div.user-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 64px;
}

div.user-header form.logout button {
    width: 139px;
}

div.fields.users  {
    display: grid;
    grid-template-columns: 450px 450px;
    gap: 40px;
}

div.fields.users div.input {
    margin-top: 10px;
}

div.fields.users .item-checkbox {
    display: flex;
    align-items: center;
}

div.fields.users .item-checkbox input{
    width: auto;
    height: auto;
    margin-top: 0;
}

div.user-header form.logout button.cancel {
    background: #8A8A8A;
    margin-left: 16px;
}

div.user-header form.logout button.delete {
    background: #DC4747;
    margin-right: 16px;
}

/* LISTAGEM DE USUÁIOS */
section.user-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 52px 199px;
}

section.user-list div.user p {
    font-size: 14px;
    color: #777777;
    margin: 4px 0 16px;
}

section.user-list div.user .actions {
    display: flex;
    align-items: center;
    height: 17px;
}

section.user-list div.user .actions a {
    font-size: 14px;
    font-weight: bold;
    color: #6558C3;
}

section.user-list div.user .actions button[type="submit"] {
    color: #F55A5A;
    font-size: 14px;
    font-weight: bold;
    font-family: Helvetica;
    background: none;
    margin-left: 16px;
}