{% extends "admin/layout.njk" %}

{%block contentAdmin%}

    <div class="sub_title_info">
        <h1>Receita:
            {{recipe.title}}</h1>
            {% if session.userId == recipe.user_id %}
                <button class="button button-admin-recipe">Editar receita</button>
            {% endif %}
    </div>

    <section class="details_intro show">
        <div class="gallery">
            <div class="highlight">
                {% if files.length == 0 %}
                        <img src="{{recipe.image}}" alt="Foto de {{recipe.title}}">
                {% else %}
                    <img 
                        src="{{files[0].src}}" 
                        alt="{{files[0].name}}"
                        onclick="Lightbox.open()"
                        >
                {% endif %}
            </div>
            <div class="gallery-preview">
                {% for image in files %}
                    <img 
                        src="{{image.src}}" 
                        alt="{{image.name}}"
                        {% if loop.index0 == 0 %}
                        class="active"
                        {% endif %}
                        onclick="ImageGallery.setImage(event)"
                    >
                {% endfor %}
            </div>
        </div>
        <h1>{{recipe.title}}</h1>
        <p>por {{chef.name}}</p>
    </section>

    <!-- SECTION informações -->

    <section class="info admin">

        <div class="ingredients">
            <div class="title-and-button">
                <h1>Ingredientes</h1>
            </div>
            <ul class="content-admin">
                <!-- Adicionei id para cria o conceito de esconder o conteudo atráves do javascript -->

                {% for ingredient in recipe.ingredients %}
                    <li>{{ingredient}};</li>
                {% endfor %}
            </ul>
        </div>

        <div class="preparation">
            <div class="title-and-button">
                <h1>Modo de preparo</h1>
            </div>
            <ul class="content-admin">
                {% for preparation in recipe.preparation %}
                    <li>{{preparation}}.</li>
                {% endfor %}
            </ul>
        </div>

        <div class="additional_info">
            <div class="title-and-button">
                <h1>Informações adicionais</h1>
            </div>
            <ul class="content-admin">
                {{ recipe.information | striptags(true) | escape | nl2br }}
            </ul>
        </div>
    </section>

{% endblock %}