{% extends "site/layout.njk" %}

{%block link%}
    <a href="/about">Sobre</a>
    <a href="/recipes">Receitas</a>
{% endblock %}

{% block content %}
    <div class="erro">
        <h1>Error 404 - Essa página não existe.</h1>
    </div>
{% endblock %}